<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Reflection" value="false"/>
    <add key="ValueReferenceType" value="false"/>
    <add key="SingleTon" value="false"/>
    <add key="Predicate" value="true"/>
    <add key="Func" value="true"/>
  </appSettings>
</configuration>